[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=TimePlot
Comment=TimePlot time tracker and productivity plotter
Exec=%PATH%
StartupNotify=false
Terminal=false
Hidden=false
